header {
  height:600px;
  background-image: linear-gradient(rgba(106,33,247,0.5),rgba(0,98,255,0.5)), url('../img/wireframe.jpg');
  background-size:cover;
  color: #fff;
}

header .container {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

section {
  padding: 20px 0;
}

.panel {
  height: 200px;
}

.panel-default .panel-heading {
  background-color: #6e35E8;
  color: #fff;
}

.panel-title {
  text-align: center;
}

.section-purple {
  background-color: #6e35E8;
  color: #fff;
}

.section-purple img {
  width: 275px;
}

.italics {
  font-style:italic;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.social-icon {
	position:relative;
	width:0px;
	height:0px;
	padding:15px;
  margin:0 10px 0 0;
	border-radius: 20px;
  float:right;
  background: #6e35E8;
}

.social-icon i {
	font-size:18px;
  position:absolute;
	left:8px;
	top:6px;
}
