/*************************************
HEADER STYLES
*************************************/
header {
  height:800px;
  background-image: linear-gradient(rgba(106,33,247,0.5),rgba(0,98,255,0.5)), url('../img/wireframe.jpg');
  background-size:cover;
  color: #FFF;
}

header .container {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

header h2 {
  margin-top:0;
}


/*************************************
BUTTON STYLES
*************************************/
button {
  border: 1px solid #6E35E8;
  border-radius: 15px;
  width:125px;
  margin-top:10px;
  padding:5px;
  text-transform: uppercase;
}

.btn-purple {
  background-color: #6E35E8;
  color: #FFF;
}

.btn-purple:hover {
  background-color: #FFF;
  color: #6E35E8;
}


.btn-white {
  background-color: #FFF;
  border: 1px solid #6E35E8;
  color: #6E35E8;
  font-size:10px;
  width:100px;
}

.btn-white:hover {
  background-color: #6E35E8;
  color: #FFF;
}


/*************************************
SECTION STYLES
*************************************/
section {
  padding: 20px 0;
}

.section-white h2 a {
  color: #000;
}

.section-whites h2 a:hover {
  text-decoration: none;
  color: #000;
}

.section-purple {
  background-color: #6E35E8;
  color: #fff;
}

.section-purple h2 a:hover {
  color: #FFF;
  text-decoration: none;
}

.section-purple a {
  color:#FFF;
  font-weight: bold;
}


/*************************************
PANEL STYLES
*************************************/
.panel {
  height: 225px;
}

.panel-default .panel-heading {
  background-color: #6E35E8;
  color: #FFF;
}

.panel-title {
  text-align: center;
}


/*************************************
FOOTER STYLES
*************************************/
footer {
  background-color: #000;
  color: #FFF;
  padding: 20px 0;
}

footer a {
  color:#FFF;
}

footer a:hover {
  color: #FFF;
}

.social-icon {
	position:relative;
	width:0px;
	height:0px;
	padding:15px;
  margin:0 10px 0 0;
	border-radius: 20px;
  float:right;
  background: #6E35E8;
}

.social-icon i {
	font-size:18px;
  position:absolute;
	left:8px;
	top:6px;
}


/*************************************
MISC ABOUT ME STYLES
*************************************/
.italics {
  font-style:italic;
}

#headshot {
  width: 275px;
}


/*************************************
MEDIA QUERIES
*************************************/

@media (min-width:481px) and (max-width:767px) {

  header {
    height:400px;
  }

  header .container {
    height:400px;
  }

  .panel {
    margin: 20px 50px;
  }
}


@media (min-width:768px) and (max-width:991px) {
  .panel {
    height: 250px;
  }

  #headshot {
    width:225px;
  }
}
