header {
  height:800px;
  background-image: linear-gradient(rgba(106,33,247,0.5),rgba(0,98,255,0.5)), url('../img/wireframe.jpg');
  background-size:cover;
  color: #fff;
}

header .container {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

header h2 {
  margin-top:0;
}

button {
  background-color: #6E35E8;
  border: 1px solid #6E35E8;
  border-radius: 15px;
  color: #fff;
  width:125px;
  margin-top:10px;
  padding:5px;
  text-transform: uppercase;
}

button:hover {
  background-color: #fff;
  color: #6E35E8;
}

section {
  padding: 20px 0;
}

section h2 a {
  color: #000;
}

section h2 a:hover {
  text-decoration: none;
  color: #000;
}

.panel {
  height: 200px;
}

.panel-default .panel-heading {
  background-color: #6E35E8;
  color: #fff;
}

.panel-title {
  text-align: center;
}

.section-purple {
  background-color: #6E35E8;
  color: #fff;
}

.section-purple h2 a:hover {
  color: #FFF;
  text-decoration: none;
}

.section-purple img {
  width: 275px;
}

.section-purple a {
  color:#fff;
  font-weight: bold;
}

.italics {
  font-style:italic;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.social-icon {
	position:relative;
	width:0px;
	height:0px;
	padding:15px;
  margin:0 10px 0 0;
	border-radius: 20px;
  float:right;
  background: #6E35E8;
}

.social-icon i {
	font-size:18px;
  position:absolute;
	left:8px;
	top:6px;
}
